@font-face {
    font-family: roboto-regular;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

.notes-list {
    width: 1040px;
    /* background-color: pink; */
    column-count: 4;
}

.note-preview {
    width: 240px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-block: 16px;
    color: #202124;
    display: grid;
    grid-template-rows: 40px auto 40px;
    grid-template-columns: 1fr;
}

.add-note {
    width: 600px;
    height: 136px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 8px;
    margin: 32px auto 16px auto;
}

.note-preview:not(:first-of-type) {
    break-inside: avoid-column;
    height: fit-content;
}

.note-preview:first-of-type {
    break-inside: avoid-column;
    height: fit-content;
}

.note-preview:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.note-title {
    font-size: 1em;
    font-family: roboto-bold;
    padding: 16px 16px 0 16px;
    letter-spacing: .00625rem;
    line-height: 1.5rem;
}

.note-content {
    font-family: roboto-regular;
    font-size: .875rem;
    letter-spacing: .01428571em;
    line-height: 1.25rem;
    padding: 4px 16px 12px 16px;
}