@font-face {
    font-family: roboto-regular;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

.notes-list {
    width: 1040px;
    /* background-color: pink; */
    column-count: 4;
}

.note-preview {
    /* width: 240px; */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.note-preview:not(:first-of-type) {
    /* margin: 1rem 0; */
    break-inside: avoid-column;
    height: fit-content;
}

.note-preview:first-of-type {
    break-inside: avoid-column;
    height: fit-content;
}

.notes-list .note-content {
    font-size: 14px;
}